.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.has-error .input {
  border-color: red;
}

.error-message {
  color: red;
}

.input-label {
  font-weight: bold;
}
